.body3component {
  background-color: #d4d4d461;
}

.bannerTitulo {
  font-size: 35px !important;
  color: black;
}

.lugarCorrecto {
  font-size: 20px !important;
  color: black !important;
  margin-top: -10px;
}

.proximamente {
  font-size: 25px !important;
  color: rgb(69, 69, 69) !important;
  width: 350px;
}

ul {
  padding-inline-start: 0px !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.footer {
  background-color: #0056b7;
}

.copyright {
  background-color: #d3d3d3;
  padding: 6px;
}

.btnSomos {
  background: #0056b7;
}

.imagenSomos {
  border-radius: 10% !important;
}

/*body2component*/
.containerImagenSomos {
  margin-bottom: 10px;
}

.containerbody2 {
  margin-bottom: 10px;
}

/*body 3 component*/

.imagenbody3 {
  border-radius: 10%;
}

.oldPricebody3 {
  text-decoration: line-through;
}

.tituloCard {
  font-weight: 700;
  font-size: 24px;
}

.muestraCard {
  font-weight: 400;
  font-style: italic;
}

.resultadosCard {
  font-weight: 500;
  color: #0056b7;
}

.comentariosCard {
  font-weight: 600;
  color: #6e6e6e;
}

@media (max-width: 1100px) {
  .iniciar_sesion {
    font-size: 13px;
  }
  .registrar_sesion {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .boton_orina {
    margin-top: 2.4rem !important;
  }

  .titulo1body2 {
    font-size: 30px;
  }

  .texto1body2 {
    font-size: 18px;
  }

  .bannerTitulo {
    font-size: 18px !important;
    color: black;
  }

  .lugarCorrecto {
    font-size: 12px !important;
    color: black !important;
    width: 200px;
    margin-bottom: 120px;
  }

  .proximamente {
    font-size: 10px !important;
    color: rgb(69, 69, 69) !important;
    width: 130px;
    padding-top: 200px;
  }

  .descarga {
    font-size: 30px;
  }

  .imagen_download {
    width: 150px !important;
    height: 50px !important;
  }

  .imagen_logo {
    width: 40px;
  }

  .btnSomos {
    font-size: 1rem !important;
    padding: 0.4rem 0.4rem !important;
  }

  .nombre_logo {
    width: 80px;
  }
  .bloque_sesion {
    margin: 0;
  }

  .iniciar_sesion {
    font-size: 10px;
  }
  .registrar_sesion {
    font-size: 10px;
  }

  .containerImagenSomos {
    padding-top: 25px;
  }

  /*footer*/
  .atrevete_footer {
    font-size: 14px !important;
  }
  .descripcion_footer {
    font-size: 11px !important;
  }
}

/*revisar*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
