.aside-dashboard {
  z-index: 2000;
  padding: 0px;
  position: fixed;
  width: 250px;
  bottom: 0;
  left: 0px;
  top: 0px;
  background: #222e3c;
  transition: all 0.5s;
}
.overlay-sidebar {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0, 0.1);
  display: none;
}
@media (max-width: 991.98px) {
  .aside-dashboard {
    margin-left: -250px;
  }
  .aside-dashboard.closed_sidebar {
    margin-left: 0 !important;
  }
}
@media (max-width: 993px) {
  .overlay-sidebar-show {
    display: block;
  }
}
@media (min-width: 992px) {
  .aside-dashboard.closed_sidebar {
    width: 80px;
  }
  .aside-dashboard.closed_sidebar .main {
    padding: 12px 18px;
  }
  .aside-dashboard.closed_sidebar .link-block {
    padding: 0px !important;
  }
  .aside-dashboard.closed_sidebar .link-block .left-link > a > p {
    display: none;
  }
  .aside-dashboard.closed_sidebar .logo > img.logo-name {
    display: none;
  }

  .aside-dashboard.closed_sidebar .link-block > .left-link > a > svg {
    margin-right: 0px !important;
  }

  .aside-dashboard.closed_sidebar .submenu-nav {
    position: absolute;
    top: 0;
    left: 70px;
    width: max-content;
  }
  .aside-dashboard.closed_sidebar .submenu-nav .link-submenu > .dropdown-items {
    background: #000;
  }
}

.main {
  padding: 12px 20px;
  width: 100%;
  height: calc(100% - 70px);
}
.main .nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.links-menu-dashboard {
  list-style: none;
  position: relative;
}
.header-aside {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  background: #fff;
}
.logo {
  width: max-content;
  display: flex;
  align-items: center;
}
.logo > img.logo-icon {
  width: 40px !important;
  object-fit: cover;
}
.logo > img.logo-name {
  width: 130px !important;
  object-fit: cover;
}
.toggle-drop {
  position: relative;
}

.links-menu-dashboard > a {
  display: flex;
  width: 100%;
  padding: 5px 0px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}
.submenu-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 8px;
  padding: 15px 0px;
}
.submenu-nav .link-submenu {
  list-style: none;
  padding-left: 20px !important;
}
.submenu-nav .link-submenu > .dropdown-items {
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: none !important;
  transition: all 0.5s;
}
.dropdown-items > svg {
  margin-right: 10px;
}
.dropdown-items:hover {
  background: rgb(93 92 92) !important;
}

.link-block {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 20px;
}
.link-block.link-active {
  background: #0559b8;
}
.link-block .left-link {
  width: 100%;
  display: flex;
  align-items: center;
}
.link-block > .left-link > a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.link-block > .left-link > a > p {
  margin: 0px !important;
}
.link-block > .left-link > a > svg {
  margin-right: 20px;
  font-size: 20px;
}
.link-block > .right-link > svg {
  cursor: pointer;
  color: #fff;
}
